<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">
    <br>
    <div class="page-header">

        <div role="presentation" style="text-align:center">
            <h3>카드 결제</h3>
        </div>
    </div>
    <div>
        <h3>카드 결제가 되었습니다.</h3>
        <a href="{{ url_for('main') }}">확인</a>
    </div>

    <ul class="nav nav-pills pull-right">

    </ul>

</div>
</body>
</html>